$backgroundColor: #0d0d13;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Verdana",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  animation: gradient 15s ease infinite;
  height: 100vh;
  margin: 0;
}

h1{
  color: white;
  font-size: 250%;
  font-weight: 400;
  transition: all .175s ease-out;
  text-shadow: 0px 0px 0px white;

  &:hover{
    text-shadow: 0px 0px 4px white;
  }
}

p {
  color: white;
}

main{
  flex: 
}

.banner{
  position: static;
  left: 0;
  top: 0;
  width: max(100%, 960px);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent);
}