<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=5.0, width=device-width" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
  <body>
    {% include banner.html %}
    <div class="wrapper-page">
      <div class="wrapper-inner-page">
        <main>
          {% include navigation.html %}
          {{ content }}
          <div class="gallery-grid">
            {% for post in site.posts %}
            <div class="gallery-item" >
              <a href="{{ post.url }}">
                <p class="gallery-text">{{ post.title }}</p>
                <img class="gallery-thumbnail" src="{{ post.image }}" loading="lazy" alt="{{ post.altText }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
