<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
  <body>
    {% include banner.html %}
    <div class="wrapper-main">
      {% include navigation.html %}
      <main>
          {{ content }}
          <ul class="gallery-container">
            {% for post in site.posts %}
            <li class="gallery-item" >
              <a href="{{ post.url }}">
                <p class="gallery-text">{{ post.title }}</p>
                <img class="gallery-thumbnail" src="{{ post.image }}">
              </a>
            </li>
            {% endfor %}
          </ul>
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
