<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" />
  </head>
  <body>
    {% include banner.html %}
    <div class="wrapper-page">
      <div class="wrapper-inner-page">
        {% include navigation.html %}
        {% if page.title != "About Me" %}
        <small>Posted {{ page.date | date: "%-m-%d-%Y" }}</small>
        {% endif %}
        <main>
          {{ content }}
        </main>
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
